<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.ArticleViewMapper">
    <insert id="insert">
        insert into article_views (id, article_id, user_id, viewed_at)
        values (#{articleView.id}, #{articleView.articleId}, #{articleView.userId}, #{articleView.viewedAt})
    </insert>
</mapper>
